html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0 16;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #323232;
  }
  
nav{
    display: flex;
    align-items: center;
    padding: 16px;
}

.navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
}

.navigation-item {
    margin: 8px;
}

.portrait {
    width: 300px;
}

.about-me-container {
    display: flex;
}

.about-me-text {
    margin-right: 16px;
}

#projects {
    cursor: pointer;
}

.project-list li {
    display: inline;
}

section {
    padding: 16px;
}

a {
    color: #353535;
    text-decoration: none;
    font-weight: 600;
}

#name {
    margin: 0;
}

#skills-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

#skills-container > * {
    font-size: 2em;
    width: 2em;
    margin-top: 8px;
}

@media only screen and (max-width: 600px) {
    .about-me-container {
        flex-direction: column;
    }
}
